* {
    box-sizing: border-box;
  }
  
  .side {
    float: left;
    padding: 10px;
    height: 730px; 
  }
  
  .left {
    width: 55%;
    margin-left: 0px;
  }
  
  .right {
    
    max-width: 45%;
    
  }
  
#left-side {
    background-image: url(twitterbackgroundphoto.png) ;
    background-size: cover;
    left: 0;
    margin-bottom: 0px;

}

.icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#img-left {
    max-width: 600px;
}


#img-right {
    width: 50px;
    transform: translate(50%);
}

h1 {
    font-size: 64px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 84px;
    letter-spacing: -1.2px;
    margin-bottom: 48px;
    margin-top: 48px;   
    padding-left: 30px; 

}
h2{
    margin-bottom: 32px;
    line-height: 36px;
    font-size: 31px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 30px;
    overflow-wrap: break-word;
}
button {
    background-color: white;
    border-radius: 20px;
    border:1px solid #dcdee2;
    width: 300px;
    margin-top: 20px;
    letter-spacing: 0.25px;
    font-size: 15px;    
    display: inline-flex;
    height:50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-logo {
    padding-left: 5px;
}
.btn1 {
    padding-left: 70px; 

 }

.btn {
    padding-left: 30px;
}

.logo-btn {
    width: 20px;
}

#app-bold {
    font-weight: bold;

}
#or {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.or-line {
    display: inline-flex;
    margin-top: 0px;
    padding:5px;
    margin-left: 0px;
    
}

hr {
    color: lightgray;
    width: 140px;
    margin-left: 0;
  
}


.signup {
    background-color: #1d9bf0;
    color: white;
    font-weight: bold;
    padding-left: 50px;
    margin-bottom: 0;
}
p {
    margin-top: 0;
    color: rgb(83, 100, 113);
    line-height: 12px;
    font-weight: 400;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    margin-bottom: 50px;
    
}

a {
    color: #1d9bf0;
    text-decoration: none;
}

h3 {
    padding-left: 30px;
}
.signin{
    background-color: white;
    color: #1d9bf0;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin-top:0px;
}

.nav {
    bottom: 0;
    overflow: hidden;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
}
.nav a {
    
    display:inline-block;
    color: darkgrey ;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    
}
  
@media screen and (max-width: 1024px) {
    .side {
      width: 100%;
    }
    .row {
        display: flex;
        flex-direction: column-reverse;
    }
    .right{
        height: max-content;
        margin-bottom: 50px;
        

    }
    .left {
        height: max-content;
        background-size: cover;
    }

    #img-left{
        max-width: 10%;
        position: relative;
        align-content: center;
        transform: translate(-10%, 50%)
    }
}